@import url(https://fonts.googleapis.com/css?family=Qwigley);
@import url(https://fonts.googleapis.com/css?family=Montserrat);

.contentboxx {
  font-family: 'Montserrat', serif;
  background-image: -webkit-linear-gradient(top, 
  rgba(255, 255, 255, 1), 
  rgba(255, 255, 255, 0.7),
  rgba(255, 255, 255, 0.7),
  rgba(253, 253, 253, 1) 
), url("https://i.ibb.co/fvHTTcn/bgcontent.jpg");

  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;

  padding: 3em;
}


.contentboxx_Restro{
  font-family: 'Montserrat', serif;
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.7), 
    rgba(0, 0, 0, 0.7)
  ),
 url("https://live.staticflickr.com/65535/48841119712_fdaea143e8_b.jpg");

  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;


  padding: 3em;
}

.contentboxx_Restro img{
  filter: brightness(30%);
}

.contentboxx_Restro p {
  
  text-align: justify;
  line-height: 1.5em;
  color: white;
  z-index: 100;
  opacity: 1;
  font-size: 17px;
 
 

}


.contentboxx p {
  
  text-align: justify;
  line-height: 1.75em;
  color: black;
  z-index: 100;
  opacity: 1;
  font-size: 17px;
 

}


.fancy1::first-letter {
  font-family: 'Qwigley', cursive;
  font-size: 8em;
  color: rgba(238, 238, 226, 0.8);
  
  margin-right: -5px;
}
.fancy1::first-line {
  line-height: 3em;
}



.fancy {
    color: dark-gray;
    line-height: 2.5em;
  
}
.fancy::first-letter {
  font-family: 'Qwigley', cursive;
  font-size: 8em;
  color: rgba(64, 64, 48, .8);
  
  margin-right: -5px;
}
.fancy::first-line {
  line-height: 3em;
}
.boxwcontent {

  width: 90%;
  margin: auto;
  padding: 0 3em;
  
}
.boxwcontent p {
    margin-top: 100px;
    margin-bottom: 50px;
    position: relative;
    top: 50%;
}
